name: Git Diff on Commit

on:
  push:
    branches:
      - main  # Or your main branch name

jobs:
  diff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  #Important to fetch the whole history to compare

      - name: Get Git Diff
        run: git diff 