name: Call squash workflow (on /squash comment)

on:
  issue_comment:
    types: [created, edited]

permissions:
  issues: write
  pull-requests: write
  contents: write

concurrency:
  group: ${{ github.event.comment.id }}
  cancel-in-progress: false

jobs:
  dispatch-squash:
    if: |
      github.event.issue.pull_request != null &&
      github.event.issue.state == 'open' &&
      github.event.comment.body == '/squash'
    uses: MO-test-env/orgBase/.github/workflows/squash.yml@main
    with:
      username: ${{ github.actor }}
      owner: ${{ github.repository_owner }}
      repo: ${{ github.event.repository.name }}
      pr_number: ${{ github.event.issue.number }}
      comment_id: ${{ github.event.comment.id }}
    secrets:
      token: ${{ secrets.WORKFLOWS }}