name: submodule update

# start on all push to my branch
on:
    push:
        branches: ['main']

# set job
jobs:
    build:
        name: submodule update
        runs-on: ubuntu-latest
        env:
            CHECKOUT_BRANCH: 'main'

        steps:
            - uses: actions/checkout@v2
              with:
                ref: ${{ github.ref }} # Checkout the branch being pushed to
                submodule-recursive: true

            - name: Check for submodule changes
              id: check_submodules
              run: |
                git submodule foreach git diff --exit-code HEAD
                if [ $? -ne 0 ]; then
                  echo "::set-output name=submodule_changed::true"
                else
                  echo "::set-output name=submodule_changed::false"
                fi

            - name: Update submodules and commit
              if: steps.check_submodules.outputs.submodule_changed == 'true'
              run: |
                git submodule update --init --recursive
                git add .
                git commit -m "Update submodules"
                git push origin ${{ env.CHECKOUT_BRANCH }}