name: mo
on: 
    push:
        branches:
            - main
permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                fetch-depth: 0
            # Check the PR diff using the current branch and the base branch of the PR
            - uses: GrantBirki/git-diff-action@v2.8.1
              id: git-diff-action
              with:
                json_diff_file_output: diff.json
                raw_diff_file_output: diff.txt
                file_output_only: "true"

            # Print the diff in JSON format
            - name: print json diff
              env:
                DIFF: ${{ steps.git-diff-action.outputs.json-diff-path }}
              run: cat $DIFF

            # Print the diff in raw git format
            - name: print raw diff
              env:
                DIFF: ${{ steps.git-diff-action.outputs.raw-diff-path }}
              run: cat $DIFF



            - name: diff baseline
              run: git diff --submodule=diff
